* {
    box-sizing:border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
  
.navbar {
    position: fixed;
    width: 100%;
    background-color: #5a5a5a; 
}

.hamburger {
    color:white;
    margin-left: 10px;
}

.bio {
    display: inline-block;
    font-size: 40px;
    margin-top: 10px;
    color: white;
}
  
.navbar{
    width: 970px;
    height: 70px;
    margin: 0 auto;
}
  
.navbar .links {
    float: right;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
}
  
.navbar .links li {
    display: inline-block;
    margin-left: 30px;
    color: white;
}
  
  
  
nav div ul li:hover {
    cursor: pointer;
}
  
a {
    color:black;
    text-decoration: none;
}
  
a:visited {
    color: inherit;
}
  
#portfolio {
    padding-top: 200px; width: 970px; margin: 0 auto;  text-align: center;
    background-color:#838994;
}

.bio {
    font-weight:3;
    padding:4 4 auto auto;
}

.projects {
    padding-top:20px; margin:0 auto; text-align: center;
    background-color:grey;
}

#contact-me {
    
    display:inline;
    justify-content:space-around;
}

.links {
list-style-type:none;
}




div ul li {
    display: inline-block; margin-left: 50px; font-size: 20px; margin-top: 20px; margin-right:50px;
}

@media only screen and (max-width: 500px) {
    .image {
      display: block;
      margin-bottom: 10px;
    }
    img {
        margin: 0 auto;
    }
    
    #portfolio {
        display:flex;
        flex-direction:column;
        width: 100%;
    }
  
    ul.links {
        padding: 0;
    }

    .links {
        display:none;
    }
  }

  @media only screen and (min-width:800px){
      .navbar {
          display:inline-flex;
          width:100%;
          text-align:center;
          margin:2px 2px 0 0;
      }

      #resume {
          display:flex;
          flex-direction:column;   
      }

      .projects {
          display:flex;
          flex-direction:row;
          width:60%;
          height:auto;
          background-color: grey;
      }

      .hamburger {
          visibility:hidden;
      }

      .contact-me {
          display:flex;
          justify-content: space-around;
      }

      .links {
        list-style-type:none;
        display:inline;
      }

  }