* {
    box-sizing:border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    line-height:30px;
}
.container {
    width:90%;
    display:flex;
    flex-direction:column;
    text-align:center;
    background-color:lightcyan;
}

.navbar {
    position: fixed;
    width:inherit;
    height:70px;
    background-color: #5a5a5a; 
    display:flex;
    flex-direction:row;

}

.navLinks {
    align-items: flex-start;
    display:flex;
    font-size:24px;
    color:white;
    

}


#bio {
    display: inline-block;
    font-size: 26px;
    margin-top: 40px;
    line-height:30px;
    text-align:center;
    width:inherit;
    align-content:center;
    align-items:center;
}

.bioText {
    font-size:34px;
    color:white;
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    text-align:center;
    padding: 0 0 10px 10px;
    font-weight:6;
}

#resume {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    align-items:center;
}
.navbar .links {
    color: #838994;
    align-self:flex-start;
    font-size: 16px;
    margin-top: 25px;
}
  
.navbar .navLinks li {
    display: inline-block;
    color: white;
}
  
li {
    list-style-type:none;
}
#projects {
    display: inline-block;
    font-size: 26px;
    color:blueviolet;
    margin-top: 50px;
    line-height:30px;
    text-align:center;
    width:inherit;
}
  
nav div ul li:hover {
    cursor: pointer;
}
  
a {
    color:black;
    text-decoration: none;
}
  
a:visited {
    color: inherit;
}

.projects {
    padding-top:20px; text-align: center;
    background-color:gold;
}

#contact-me {
    display: inline-block;
    font-size: 26px;
    margin-top: 10px;
    line-height:30px;
    text-align:center;
    width:inherit;
}


.imgQuizApp{
    align-self:center;
    align-content:center;
    display:flex;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

.FindMyRatingImg {
    height:500px;
    align-self:center;
    align-content:center;
    display:flex;
    width:200px;
    margin-left:auto;
    margin-right:auto;
}

div ul li {
    margin-left: 10px; font-size: 20px; margin-top: 20px; margin-right:10px;
}

.coding{
    font-weight:4;
    margin-top:10px;
}

.projectIntro {
    display:block;
    font-size:28px;
    color:peachpuff;
    width:auto;
    background-color:purple;
    font-weight:7;
}

  @media only screen and (min-width:800px){
    .container {
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-left:auto;
        margin-right:auto;
        max-width:1200px;
        width:800px;
        border:4px grey solid;
        background-color:lightcyan;
        
    }  
    .navbar {
          display:flex;
          width:inherit;
          text-align:center;
          color:white;
          position:fixed;
          margin-left:auto;
          margin-right:auto;
      }

    #bio {
        margin-top:100px;
        line-height:40px;
        width:auto;
    }

    #projects {
          width:auto;
          font-size:32px;
          color:blueviolet;
          line-height:26px;
          display:flex;
          margin-left:auto;
          margin-right:auto;

      }
    ul.projects {
        display:flex;
        flex-direction:column;
        width:auto;
        height:auto;
        background-color:gold;
      }


    .imgQuizApp {
        width:540px;
        margin-left:auto;
        margin-right:auto;
        align-self:center;
      }

    .FindMyRatingImg {
        width:540px;
        height:740px;
        margin-left:auto;
        margin-right:auto;
    }
    #contact-me {
        display:block;
        justify-content: space-around;
        margin-bottom:20px;
        margin-top:6px;
        width:auto;
      }

    .links {
        list-style-type:none;
        display:inline;
      }

    #live-links {
        font-size:26px;
        text-decoration:underline;
    }

  }