*{
    box-sizing:border-box;
    padding:20px;
}

body {
    font-family: sans-serif;
    background-color: lightblue;
    display:block;
}

.navbar {
    display:inline-block;
    padding:10px 10px;
    background-color: ivory;
}

.main {
    display:column;
    width:auto;
    margin-top:20px;
    background-color: darkslategrey;
}

.footer {
    display:inline-block;
    padding:10px 20px 10px;
    background:grey;
}

.section{
    height:100px;
    width:auto;
    background-color:grey;
}